body {
    font-family: Helvetica, Arial, sans-serif;
}

.content {
    max-width: 960px;
    margin: auto;
    text-align: center;
}

.link-like {
    color: #0066CC;
    font-weight: bold;
}

.link-like:hover {
    color: #0066CC;
    font-weight: bold;
    text-decoration: underline;
}

.link-like-current {
    color: #0066CC;
    font-weight: bold;
    text-decoration: underline;
}

#code-link {
    position: fixed;
    top: 25px;
    right: 25px;
}

#screen-select {
    margin: 10px;
}

#card-table {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#card-table tr td {
    vertical-align: top;
    text-align: left;
}

#card-table .checkbox {
    padding-left: 10px;
    padding-right: 10px;
}

.chunk {
    margin: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}
